/* Adicionando estilo à scrollbar */
        /* Adicionando estilo à scrollbar */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: linear-gradient(90deg, #015B7D, #f2f2f2);
            border-radius: 10px;
            border: 2px solid #0e0e0e;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(90deg, #015B7D, #f2f2f2);
        }

        ::-webkit-scrollbar-track {
            background-color: #0e0e0e;
            border-radius: 10px;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        }


        /* Define a animação de fade-in */
.fadeIn-cb {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Define a animação de fade-out */
.fadeOut-cb {
  animation: fadeOutAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Define os estágios da animação de fade-in */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

/* Define os estágios da animação de fade-out */
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }  
}

/* Estilizando o chatbot-container */
#chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 330px;
  height: 500px;
  background-color: #c5bbbb;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: none;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin: black;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
        /* Estilizando a caixa do chatbot */
        #chatbot-container {
            position: fixed;
            bottom: 50px;
            right: 20px;
            width: 330px;
            height: 500px;
            background-color: #c5bbbb;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            display: none;
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
            margin: black;
        }

        /* Estilizando a caixa de mensagens dentro do chatbot */
        #message-container {
            height: 400px;
            overflow-y: auto;
            margin-bottom: 10px;
            margin: black;
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
            background-color:#015B7D;
            padding: 10px;
            border-radius: 10px;
            border: #000000 solid 2px;
            bottom: 50px;
        }

        /* Estilizando os balões de mensagens */
        #message-container {
            height: 400px;
            overflow-y: auto;
            margin-bottom: 10px;
            background: linear-gradient(90deg, #015B7D, #00f0ff);
            padding: 10px;
            border-radius: 10px;
        }

        /* Estilizando os balões de mensagens */
        .user-message {

            text-align: right;
            background-color: #f2f2f2;
            color: black;
            align-self: flex-end;
            margin-bottom: 10px; /* Espaçamento abaixo da mensagem */
            padding: 8px;
            border-radius: 20px 20px 0 20px;
            word-wrap: break-word; /* Quebra de palavra para a próxima linha */
            max-width: 70%;
            margin-left: 80px;
            border: black solid 1px;
            font-size: 15px;
        }

        /* Estilo para as mensagens do chatbot */
        .chatbot-message {
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
            text-align: left;
            background-color: #007F9F;
            color: #fff;
            align-self: flex-end;
            margin-bottom: 10px; /* Espaçamento abaixo da mensagem */
            padding: 8px;
            border-radius: 20px 20px 20px 0;
            word-wrap: break-word; /* Quebra de palavra para a próxima linha */
            max-width: 70%;
            border: white solid 1px;
            font-size: 15px;
        }

        /* Estilizando a caixa de digitação e o botão enviar */
        #input-container {
            display: flex;
            margin-top: 10px;
            height:auto;
            width:auto;
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
        }

        #user-input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-right: 5px;
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
            height: 30px;
            width: 20px;
            border: solid 1px black;
        }

        #send-button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 8px;
            cursor: pointer;
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
            font-size: 11px;
            border: black 1px solid;
            height: 30px;
        }

        /* Estilizando o botão para apagar mensagens */
        #clear-button {
            background-color: #632121;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 8px;
            cursor: pointer;
            margin-top: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
            border-radius: 10px;
            font-size: 11px;
            border: solid white 1px;
            height: 30px;
        }

        /* Estilizando o botão de chamada do chatbot */
        #open-button {
            position: fixed;
            bottom: 50px;
            right: 20px;
            background: linear-gradient(90deg, #015B7D, #00f0ff);
            color: #fff;
            border: none;
            border-radius: 50px;
            padding: 8px;
            cursor: pointer;
            transition: right 0.5s; /* Adicionando uma transição suave para animação */
        }
        
        /* Adicionando estilo quando o chatbot está aberto */
        #open-button.opened {
            right: calc(300px + 40px); /* Posicionando à esquerda da largura do chatbot mais um espaço adicional */
        }
        
        /* Adicionando estilo quando o chatbot está aberto */

        #open-button.opened {
            right: calc(300px + 40px); /* Posicionando à esquerda da largura do chatbot mais um espaço adicional */
        }

        /*div onde está todo o conteúdo*/

        .div1{
            border-radius: 10px;
            margin-top: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            align-content: justify;
            color: white;
            border: solid 3px white;
            
        }

        .logo{
            left: 10px;
            position: fixed;
        }

        /* Personalização da Barra de Rolagem */

        /* Largura, Cor de Fundo e Altura do Cursor */

        ::-webkit-scrollbar {
            width: 12px;
            background-color: #111;
        }

        /* Estilização do Cursor */

        ::-webkit-scrollbar-thumb {
            background-color: #5CE1E6; /* Cor do Cursor */
            border-radius: 10px; /* Cantos arredondados do Cursor */
        }

        /* Cor de Fundo quando Hover */

        ::-webkit-scrollbar-thumb:hover {
            background-color: #5CE1E6; /* Cor do Cursor quando Hover */
        }

        /* Estilização da Barra de Trilha (Fundo da Barra de Rolagem) */

        ::-webkit-scrollbar-track {
            background-color: #111;
            border-radius: 10px; /* Cantos arredondados da Barra de Trilha */
        }

        /* Adicionando Brilho Neon */

        ::-webkit-scrollbar-thumb {
            box-shadow: 0 0 10px #5CE1E6; /* Brilho Neon do Cursor */
        }
    
        
        header {
            background-color: #545454;;
            color: #fff;
            text-align: center;
            height: 125px;
            width: 100%;
            position: fixed;
        }

        section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #007bff;
        }

        .portfolio-item {
            margin-bottom: 20px;
        }

        /*barra no final da página*/

        .wrapper {
            flex: 1;
          }
          
          .content {
            /* Estilo para o menu */
            position: fixed;
            border-radius: 10px;
            margin-right: 2px;
            
          }
          
          .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
          }

          
        form {
            display: flex;
            max-width: 400px;
            width: 100%;
        }

        /*caixa de digitação pesquisar*/

        input[type="text"] {
            width: 70%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            margin-right: 5px;
        }

        button {
            width: 75px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #5CE1E6;
            color: black;
            cursor: pointer;
            box-sizing: border-box;
        }

        button:hover {
            background-color: black;
        }